body {
  padding-top: 51px;
  background-color: #E7E7E7;
  min-width: 450px;
}

body > .container {
  max-width: 96%;
}

.navbar-default .navbar-brand {
  height: auto;
}

.text-center {
  padding-top: 20px;
}

main {
  background-color: whitesmoke;
  height: 700px;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}

#sidebar .nav {
  width: 95%;
}

#sidebar li {
  border: 0 #f2f2f2 solid;
  border-bottom-width: 1px;
}

#sidebar li.active {
  text-decoration: none;
  background-color: #eee;
}

#sidebar li.active a::after {
  color: #AAA;
}

#sidebar .nav a {
  cursor: pointer;
  color: #333;
  position: relative;
  padding-right: 25px;
}

/* collapsed sidebar styles */

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -41.6%;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top: 0;
  }
  #sidebar .nav {
    width: 99%;
  }
  #sidebar .nav a::after {
    right: 7px;
  }
  #sidebar .nav a.success::after {
    right: 3px;
  }
  #sidebar .nav a.error::after {
    right: 3px;
  }
}

input[type=radio] {
  display: none;
  margin: 10px;
}

input[type=radio] + label {
  display: inline-block;
  margin: -2px;
  padding: 23px 5px;
  background-color: #e7e7e7;
  border-color: #ddd;
  width: 218px;
  text-align: center;
}

input[type=radio]:checked + label {
  background-image: none;
  background-color: #d0d0d0;
}

section.thumbnail {
  display: block;
  box-sizing: border-box;
}

section.thumbnail .row {
  max-width: 100%;
}

.homeButton {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.homeButton input[type=radio] + label {
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .homeButton {
    margin-bottom: 30px;
  }
  .homeButton input[type=radio] + label {
    padding: 20px 15px;
  }
  #sidebar .nav a {
    overflow: hidden;
    height: 40px;
  }
}

/* sidebar icon styles */

.sk-cube-grid {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 10px;
  height: 20px;
  overflow: hidden;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #CCC;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.loaded .sk-cube-grid .sk-cube {
  -webkit-animation: none;
          animation: none; 
}

.error .sk-cube-grid .sk-cube {
  background-color: red;
  -webkit-animation: none;
          animation: none; 
}

.success .sk-cube-grid .sk-cube {
  background-color: green;
  -webkit-animation: none;
          animation: none; 
}