            <div class="center">
                <section class="thumbnail">
                    <div class="row center-block">
                        <div class="col-xs-12">
                            <img src ="./images/troubleshooting_icon.png" class="center-block">
                            <div class="caption">
                                <h1>Hello, Wakanda Users!</h1>
                                <p> This page has been created to provide information to help you troubleshoot most of the common problems.</p>
                                <label>what do you want build?</label>
                            </div>
                        </div>
                    </div>

                    <div class="row center-block">
                        <div ng-click="goToStep(key)" class="homeButton col-xs-12 col-sm-4 col-md-4" ng-repeat="(key, value) in data.applications">
                            <img style="margin-right: 7px" height="40" ng-src="./images/{{value.os}}-logo.png"><span>{{value.name}}</span>
                        </div>
                    </div>
                </section>
            </div>