            <div class="center">
                <section class="thumbnail">
                    <div class="row center-block">
                        <div class="col-xs-12">
                            <img src ="./images/troubleshooting_icon.png" class="center-block">
                            <div class="caption">
                                <h1>Troubleshooting</h1>
                                <p>Troublehshoot the most common problems here.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row center-block">
                        <div class="col-xs-12">
                            <h4>What do you want build?</h4>
                        </div>
                        <div ng-click="goToStep(key)" class="{{value.nickname}} homeButton col-xs-12" ng-repeat="(key, value) in data.applications">
                            <div class="title">
                                <img style="margin-right: 7px" ng-src="./{{value.icon}}">
                                <strong>{{value.name}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row center-block">
                        <div class="col-xs-12">
                            <h4>Do you need help with a specific issue?</h4>
                        </div>
                        <ul class="issue col-xs-12">
                            <li ng-repeat="(key, value) in data.issues">
                                <a href="#/issues/{{key}}" title="{{value.title}}">{{value.title}}</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>