            <div class="center">
                <header id="home-intro">
                    <h1>Mobile Troubleshooting</h1>
                    <p>Troubleshoot the most common problems here</p>
                </header>
                <section id="home-content" class="thumbnail">
                    <div class="row center-block">
                        <div class="col-xs-12 text-center">
                            <h2>What do you want to build?</h2>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-2 col-sm-offset-1">
                            <div id="homeButtonRow" class="row">
                                <div ng-click="goToStep(key)" class="{{value.nickname}} col-xs-6" ng-repeat="(key, value) in data.applications">
                                    <div class="homeButton">
                                        <figure>&nbps;</figure>
                                        <span>{{value.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center-block">
                        <div class="col-xs-12 text-center">
                            <h2>Do you need help with a specific issue?</h2>
                        </div>
                        <ul class="issue col-xs-12 col-sm-10 col-lg-8 col-lg-offset-2 col-sm-offset-1">
                            <li ng-repeat="(key, value) in data.issues">
                                <a href="#/issues/{{key}}" title="{{value.title}}">{{value.title}}</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>