<div class="page-container">

  <!-- top navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header" ng-init="toggle = false;">
        <a class="navbar-brand" > Steps to build {{currentType.name}} on {{ (currentOs == 'mac') ? 'Macintosh' : 'Windows' }}</a>
      </div>
      <a id="home-link" href="#/home" class="navbar-text navbar-right"><span>◀</span>Home</a>
    </div>
  </div>

  <div class="row row-offcanvas row-offcanvas-left" ng-class="{'active': toggle }">
    <!-- sidebar -->
    <div class="col-xs-4 sidebar-offcanvas" id="sidebar" role="navigation" >
      <ul class="nav">
        <li ng-repeat = "(key,step) in steps" ng-class="{active : currentStep == step}" ><a data-id="{{key}}" ng-click = "setCurrentStep(key)">{{ ( steps.length > 1 ) ? (key+1) + ". " : "" }}{{step.name}} <span ng-hide="{{ step.command.length < 1 }}" class="label pull-right"></span>
        </a></li>
      </ul>
    </div>
    <!-- step area -->
    <section class="step col-xs-12 col-sm-8" ng-if="currentStep.description.length > 0">
      <h1 class="step-title center-block">{{ ( steps.length > 1 ) ? "Step "+(currentStepPosition+1)+": " : "" }}{{currentStep.name}}</h1>
      <div class="step-description" ng-repeat="description in currentStep.description" ng-bind-html="description"></div>
      <div ng-hide="steps.length < 2" class="step-description">
        <a ng-if="currentStepPosition > 0" class="ffButton pull-left" ng-click="goPrevStep()" ng-disabled="formApp.$invalid" >Previous</a>
        <a ng-if="currentStepPosition + 1 < steps.length" class="ffButton pull-right" ng-click="goNextStep()" ng-disabled="formApp.$invalid" >Next</a>
        <a ng-if="currentStep.command" class="ffButton stepCheck locked pull-right" data-id="{{currentStepPosition}}" ng-click="checkStep()" ng-disabled="formApp.$invalid" >Check</a>
      </div>
    </section><!-- /.col-xs-12 main -->
    <div id="support-label" class="col-sm-offset-4 col-xs-12 col-sm-8 text-right" hidden>If you encounter any difficulties, please contact us at <a href="mailto:support@wakanda.io" target="_blank">support@wakanda.io</a>.</div>
  </div><!--/.row-->
</div><!--/.page-container-->